# Backend environment variables
DATABASE_URL="file:./dev.db"
PORT=7777
JWT_SECRET=hilal-bot-secret-key-2024
BOT_TOKEN=your_bot_token_here
CHANNEL_ID=@gulomjonhoca

# Click tokenizatsiya
CLICK_SERVICE_ID=99386
CLICK_MERCHANT_ID=16008
CLICK_MERCHANT_USER_ID=81357
CLICK_SECRET_KEY=SblP2wgqqjQ6ek
