# Bot environment variables
BOT_TOKEN=your_bot_token_here
API_URL=http://localhost:7777/api
WEBAPP_URL=http://localhost:8888
CHANNEL_ID=@gulomjonhoca
ADMIN_IDS=6340537709,8155313883
CLICK_PROVIDER_TOKEN=your_click_provider_token_here
